.desktop-hero .page-width {	
	max-width: 1380px;
}

.desktop-hero .image-with-text__media {
	border-top-right-radius: 50px;
	border: 1px solid #000;
}

.desktop-hero .image-with-text .global-media-settings {
	border: none;
}

.desktop-hero .image-with-text__content {
	padding: 0 40px 0 0;
	justify-content: center;
}

.image-with-text__content .image-with-text__text+.button {
	background: linear-gradient(90deg, #9333EA 0%, #2563EB 100%);
	margin-top: 32px;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	line-height: 155%;
	letter-spacing: 0.6px;
	padding: 0px 24px;
	min-height: 49px;
}

.image-with-text__content .image-with-text__text+.button:before,
.image-with-text__content .image-with-text__text+.button:after {
	content: none;
}

.desktop-hero .image-with-text__heading {
	font-family: "Playfair Display";
	background: linear-gradient(90deg, #9333EA 0%, #2563EB 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: -0.4px;
}

.desktop-hero .image-with-text:not(.collapse-corners,.image-with-text--overlap) .image-with-text__media-item {
	padding-left: 40px;
}

.desktop-hero .image-with-text__text {
	font-family: "Open Sans";
	color: #000000CC;
	line-height: 129%;
	font-weight: 400;
	margin-top: 24px;
	letter-spacing: 0;
	font-size: 20px;
}

.happy-customers {
	font-family: "Open Sans";
	color: #000000CC;
	line-height: 129%;
	font-weight: 400;
	font-size: 14px;
	border-bottom: 1px solid #000000CC;
	letter-spacing: 0;
	margin-top: 16px;
}

.hero-slider {
	border-top: 1px solid #00000080;
	margin-top: 48px;
	padding-top: 48px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.testimonial-swiper p {
	margin: 0;
	color: #000;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 22px;
	line-height: 155%;
	letter-spacing: 0.6px;
	text-align: center;
	max-width: 768px;
	margin: 0 auto;
}


.slide-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	margin-top: 16px;
}

.author {
	color: #000000CC;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 155%;
	letter-spacing: 0.6px;
}

.date {
	color: #000000CC;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	line-height: 155%;
	letter-spacing: 0.6px;
}

.rating {
	line-height: 12px;
}

.icon {
	line-height: 1;
}

.swiper.testimonial-swiper {
	padding-bottom: 40px;
}

.testimonial-swiper .swiper-pagination-bullet-active {
	background: #000;
}

.testimonial-swiper .swiper-button-next:after, 
.testimonial-swiper .swiper-button-prev:after {
	content: none;
}

.testimonial-swiper .swiper-button-next svg, 
.testimonial-swiper .swiper-button-prev svg {
	width: 16px;
	height: 16px;
}

.testimonial-swiper .swiper-button-next, 
.testimonial-swiper .swiper-button-prev {
	width: 32px;
	height: 32px;
	border: 1px solid #000;
}

.testimonial-swiper .swiper-button-disabled {
	opacity: 0;
}

/* mobile responsive starts here */

@media screen and (max-width: 1024px) {
	.desktop-hero .image-with-text__heading {
		font-size: 32px;
	}
}

@media screen and (max-width: 750px) {
  .desktop-hero .image-with-text:not(.collapse-corners,.image-with-text--overlap) .image-with-text__media-item {
		padding: 0;
	}

	.desktop-hero .image-with-text .grid {
    flex-direction: column-reverse;
		gap: 24px;
	}

	.desktop-hero .image-with-text__heading {
    font-size: 48px;
    text-align: center;
	}

	.desktop-hero .image-with-text__content {
    padding: 0;
    justify-content: center;
    align-items: center;
	}

	.desktop-hero .image-with-text__text {
    text-align: center;
	}

	.hero-slider {
    margin-top: 24px;
    padding-top: 24px;
    max-width: 100%;
	}

	.testimonial-swiper .swiper-button-next, .testimonial-swiper .swiper-button-prev {
		display: none;
	}

	.testimonial-swiper p {
		font-size: 18px;
	}
}

/* mobile responsive ends here */
